:root{
    --color-principal: rgb(187, 80, 80);
    --tipografia-principal: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.container-principal{
    display: flex;
    flex-flow: wrap
}

header{
    background-color: var(--color-principal);
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.navs{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 3vh;
    font-family: var(--tipografia-principal);
    color:rgba(36, 36, 36, 0.644);
}

.navs__list{
display: flex;
justify-content: flex-end;

list-style: none;
}

.navs__items{
    display: flex;
    padding: 5px;
    color: rgba(36, 36, 36, 0.644);
    font-family: var(--tipografia-principal);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 1vh;
    transition-property: color, background-color;
    transition-duration: 0.5s;
}

.navs__items:hover{
    color: whitesmoke;
    background-color: rgb(179, 2, 2);
}

/* este es la configuracion del toggle */
.checkbtn{
    /* el font-size es para cambiar el tamanio del toggle */
    font-size: 5vh;
    right: 5vh;
    margin-right: 2vh;
    color: rgb(165, 164, 164);
    cursor: pointer;
    display: none;
}

/* este es para eliminar el cuadrado del checkbox */
#check{
display: none;
}



/* esto es para que aparezca el menu hamburguesa cuando se achica la pantalla */
@media(max-width: 952px){

    .logo{
        width: 1.2em;
    }

    .navs{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;      
    }

    .logo{
        display: flex;
    width: 71vh;
    margin: 1vh;
    }

    .checkbtn{
        display: block;
    }
    .navs__list{
        position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 5vh;
    left: -100%;
    width: 40%;
    height: 93vh;
    background-color: rgb(141, 120, 120);
    text-align: center;
    transition-property: all;
    transition-duration: .5s;
    z-index: 999;

    }

    #check:checked ~ ul {
        left: 0;
    }
}

/* esto es para hacer el slider gallery */

.container-principal-slider{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.slider-container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}

.slider-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
}

.slider-container > .fondo-img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.slider-container > .fondo-img > .tamanio-img{
	overflow: hidden;
	box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.62);
}

.slider{
	width: 800px;
	display: grid;
	grid-template-columns: repeat(7, 100%);
	height: 450px;
}

.img{
	position: relative;
	overflow: hidden;
}

.img img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.content{
	position:absolute;
	z-index: 999;
	width: 800px;
	height: 450px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 1rem 1.2rem;
	border-radius: 5px;
	background: #ddd;
	border: none;
	outline: none;
	cursor: pointer;
	opacity: 0.5;
	transition: .3s;
}

.btn:hover{
	opacity: 0.8;
}

#prev{
	left: 5%;
}

#next{
	right: 5%;
}

.pagination{
	position: absolute;
	list-style: none;
	display: flex;
	bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
}

.pagination .option{
	margin: .3rem;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 2.5px solid #2ecc71;
	cursor: pointer;
}

.pagination li.option.colored{
	background-color: #2ecc71;
}

.content:before{
	content: '';
	position: absolute;
	height: 17%;
	width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.background{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.background .bg{
	position: absolute;
	width: 120%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.2);
	opacity: 0;
	transition: .5s;
}

.bg.show{
	opacity: 1;
}